[General]
SerialDevice=/dev/ttyAMA0
PayloadID=FLEXTRAK
FieldList=01234569ABCD
SendFieldList=Y

[Prediction]
Enabled=True
LandingAltitude=200
DefaultCDA=0.7

[GPS]
FlightModeAltitude=2000

[LORA]
Frequency=434.225
Mode=1

[Camera]
High=2000
Rotate=False

LowFullWidth=2592
LowFullHeight=1944
LowFullPeriod=60

HighFullWidth=2592
HighFullHeight=1944
HighFullPeriod=30

LowRadioWidth=320
LowRadioHeight=240
LowRadioPeriod=60

HighRadioWidth=640
HighRadioHeight=480
HighRadioPeriod=30

[SSDV]
LowImageCount=4
HighImageCount=8

[APRS]
# Callsign=XXXXX
SSID=11
Frequency=144.8
WideAltitude=1500
HighUseWide2=N
TxInterval=60
PreEmphasis=Y
Random=10
TelemInterval=0

