[Unit]
Description=FlexTrak Tracker Service
 
[Service]
ExecStart=/home/pi/flextrak/startup
StandardOutput=null
 
[Install]
WantedBy=multi-user.target
Alias=tracker.service
